/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content: center;
	align-item:centre;
	height:100vh;
}
.container {
	height:100px;
    width: 400px;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 15px;
    text-align: center;
}

.block {
    display: inline-block; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.red {
	background-color:red;
}

.green {
	background-color:green;
}

.yellow {
	background-color:yellow;
}